* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}
.nav-main
{
    position: absolute;
    top: 5%;
}

.logo-li
{
    margin-left: 30%;
    margin-right: 80%;
}
.nav-li
{
    margin-right: 20px;
}

.nav-ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
a
{
    text-decoration: none;
}

.main1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 25px;
    transition: 0.3s ease-in-out;
}

.btn-1 {
    margin-top: 450px;
    margin-left: 615px; 
    font-size: 24px;
    padding: 10px 20px;
    position: absolute;
    top: 0%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #111;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: all 0.3s ease-in-out;
}

.sun {
    background: #ffdd57;
    box-shadow: 0 0 5px #ffdd57,
                0 0 10px #ffdd57,
                0 0 15px #ffdd57,
                0 0 20px #ffdd57,
                0 0 25px #ffdd57,
                0 0 30px #ffdd57,
                0 0 35px #ffdd57;
}

.moon {
    background: #4b6cb7;
    box-shadow: 0 0 5px #4b6cb7,
                0 0 10px #4b6cb7,
                0 0 15px #4b6cb7,
                0 0 20px #4b6cb7,
                0 0 25px #4b6cb7,
                0 0 30px #4b6cb7,
                0 0 35px #4b6cb7;
}

.btn-1:hover {
    transform: scale(1.1);
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✨</text></svg>")
16 0,
auto;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
    color: white;
    box-shadow: inset 0 0 20px #ff00ff,
                inset 0 0 40px #ff00ff,
                inset 0 0 60px #ff00ff,
                inset 0 0 80px #ff00ff;
}


/* ===================================================== */